@font-face {
    font-family: MyRiadPro;
    src: url(../fonts/myriadpro .otf);
}
@font-face {
    font-family: mBrody;
    src: url(../fonts/m_Brody.ttf);
}
@font-face {
	font-family:  Trebuchet;
	src: url(../fonts/trebuchet_ms.ttf);
}
.about-block{
	border-width: 3px;
 	box-shadow: 0px 5px 0px 0px rgba(4, 5, 5, 0.16);
	border-color: rgb(0, 0, 2);
  	border-style: solid;
  	border-color: rgb(121, 162, 4);
  	border-radius: 5px;
	background-image: -moz-linear-gradient( 90deg, rgba(121,162,5,.2) 0%, rgba(188,209,130,.2) 66%, rgba(255,255,255,.2) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgba(121,162,5,.2) 0%, rgba(188,209,130,.2) 66%, rgba(255,255,255,.2) 100%);
	background-image: -ms-linear-gradient( 90deg, rgba(121,162,5,.2) 0%, rgba(188,209,130,.2) 66%, rgba(255,255,255,.2) 100%);
 	padding: 1.4em 3em 1.5em;
 	margin: 0;
}
.label-block{
	background-size: 100% auto;
	max-width: 604px;
	width: 100%;
 	height: 204px;
 	float: right;
}
.about-block p{
	color: rgb(23,1,1);
	font-size: 18px
}
p.title{
	font-size: 36px;
	font-family: MyRiadPro;
	color: #779041;
	line-height: 1.2;
	text-align: left;
	text-shadow: 1px 1.732px 3px rgba(0, 0, 0, 0.5);
}

.about-block h3 {
	font-size: 23px;
	font-family: MyRiad Pro;
	color: #9db95f;
	line-height: 1.2;
	text-align: left;
}
.about-bottom{
	border-width: 2px;
	border-color: #b9b5b2;
	border-style: solid;
	border-radius: 5px;
	background: url(../img/about-bottom.png) repeat-x left;
	background-size: auto 100%;
	height: 100px;
}

