@font-face {
    font-family: Trebuchet; /* Гарнитура шрифта */
    src: url(../fonts/trebuchet_ms.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: MyriadPro; /* Гарнитура шрифта */
    src: url(../fonts/myriadpro.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: MyRiadPro;
    src: url(../fonts/myriadpro .otf);
}
@font-face {
    font-family: mBrody;
    src: url(../fonts/m_Brody.ttf);
}

a.btn, button.btn{
	width: 90px;
	height: 30px;
	border-radius: 15px;
	background: -webkit-linear-gradient(#537002, #769d04); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#537002, #769d04); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#537002, #769d04); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#537002, #769d04); /* Standard syntax */ 
    border: 3px solid #547003; 
    box-shadow: inset 0 1px 1px #fff; 
    text-shadow: 0px 1px 0px rgba(149, 149, 149, 0.004); 
	color: #fff;
	padding: 0;
	font-weight: bold;
    line-height: 1.846;
    font-size: 13px;
}
.btn:hover{
	 box-shadow: none;  
}
.btn-filter {
	border-width:0;
	background: none;
	padding: 5px 10px;
	width: 100%;
	text-align: left;
}
.btn-filter:hover {
	text-shadow: 1px 1px 3px #025f4a;
}
.wide-container{
	max-width: 1260px;
	margin: 0 auto;
}
a{
	color: #e7eed2;
	text-decoration: none;
	text-shadow: 1px 1px 3px #025f4a;
}
a:hover{
	color: #fff;
}

/** breadcrumbs **/

.breadcrumbs {
	font-size: 1.5em;
  	font-family: "Myriad Pro";
  	color: rgb(23, 1, 1);
  	line-height: 1.2;
  	text-shadow: 1px 1.732px 3px rgba(0, 0, 0, 0.5);
  	color: #79a204;
	padding-top: 56px;
	padding-bottom: 15px;
}

.breadcrumbs a {
	color: #79a204;
	text-shadow: 1px 1.732px 3px rgba(0, 0, 0, 0.5);
}

.breadcrumbs .kb_sep {
	font-size: 0.7em;
}
.clear{
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0
}

.footer-top h4{
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	font-size: 22px;
	background: linear-gradient(#ffffff, #acacac);
	-webkit-background-clip: text;
	color: transparent;
	text-shadow: 1px 1px 8px #666;
	padding: 15px 0;
}
.footer-top a{
	display: block;
	padding-bottom: 10px;
	color: #f9e7df;
}
.footer-top{
	min-height: 257px;
	background: #79a204;
}
.footer-top ul{
	list-style-type: none;
	padding: 0;
}
.social-conteiner{
	width: 88px;
}
.footer-social{
	margin-top: 8px	;
	float: left;
	height: 34px;
	width: 34px;
	background: #304100;
	border-radius: 4px;
}
.linkedin, .e-mail{
	margin-left: 16px;
}
.footer-social img{
	display: block;
}
.twitter img{
	margin: 7px auto 0;
}
.facebook img, .linkedin img{
	margin: 6px auto 0;
}
.e-mail img{
	margin: 10px auto 0;
}

.footer-bottom {
	color: #e7eed2;
    padding: 10px 0;
    font-size: 15px;
    background: #304100;
    min-height: 66px;
}
.footer-bottom a{
	color: #bfd090;
}
.footer-bootom-copyright{
	margin-top: 12px;
}
.footer-bootom-developer {
    text-align: right;
}
@media (max-width: 768px){
	.footer-bootom-copyright{
		text-align: center;
	}
	.footer-bootom-developer{
		text-align: center;
	}
}
