@font-face {
    font-family: MyRiadPro;
    src: url(../fonts/myriadpro .otf);
}
@font-face {
    font-family: mBrody;
    src: url(../fonts/m_Brody.ttf);
}
@font-face {
	font-family:  Trebuchet;
	src: url(../fonts/trebuchet_ms.ttf);
}
/** header **/
.logo{
	position: absolute;
    top: 50px;
    left: 20%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    background: url(../img/logo.png) no-repeat center transparent;
    background-size: 100% auto;
    width: 400px;
    height: 120px;
    z-index: 20;
    max-width: 90%;
}
.nav-menu{
	position: fixed;
	display: block;
	height: auto;
	text-align: center;	
	margin-top: .4em;
	padding:0 2em;
	background-color: background: -webkit-linear-gradient(#a8ba3f, #78a204); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#a8ba3f, #78a204); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#a8ba3f, #78a204); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#a8ba3f, #78a204); /* Standard syntax */
    border-radius: 5px;   
    box-shadow: inset 0 2px 5px #fff, 0 3px 5px #000;
    z-index: 21;
}
.nav-menu > li{
	display: inline-block;
	line-height: 3em;
	font-size: 1em;
	list-style: none;
	background-color: transparent;
	padding: 0 1em;
}
.nav-menu > li.current-menu-item, .nav-menu > li:hover{
	background-color: rgb(230, 250, 173);
}
.nav-menu > li > a{
	color: #000;
	text-transform: uppercase;
}
.nav-menu > li > a:hover{
	text-decoration: none;
}
/** top slider **/
.top-slider{
	height: 900px;	
	position: relative;	
	overflow: hidden;
}
.top-slider > .slider-container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    z-index: 2;
    padding:  0 15px;
    max-width: 100%;
}
.top-slider-img{
	width: 100%;
	height: 100%;
	position: relative;
}
.top-slider-img img{	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    min-height: 100%;
    z-index: 1;
}

.slider > .slider-arrows{
	position: absolute;
	top: 82%;
	font-size: 2.5em;
	z-index: 1;
	height: 51px;
	width: 38px;
	background-size: cover;
	cursor: pointer;
}
.slider > .slider-arrows:hover{
	border: 1px solid transparent;
}

.slider > .slider-arrows.next{
	right: -1%;
	background-image: url(../img/next-arrow.png);
}
.slider > .slider-arrows.prev{
	left: -1%;
	background-image: url(../img/prev-arrow.png);
}

.slider .item{
    margin: 600px auto 0;
	min-height: 245px;
	height: auto;
	width: 94%;	
	background-color: #fff;
	border-radius: 5px;
}
.desc-content{
	padding: 35px;
}

.desc-img{
	height: 175px;
	overflow: hidden;
	position: relative;
	padding: 10px;
}
.desc-img img{
	position: absolute;
	height: auto;
	width: 80%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}
.desc-text{
	padding: 10px 20px;
	text-align: justify;
	font-size: 1.2em;
}
.desc-text .title{
	color: #79a204;
	font-family: MyRiadPro;
	font-size: 1.8em;
}
/**  filters  **/
.filters{
	min-height: 150px;
	border-top: 4px solid #79a204; 
	border-bottom: 4px solid #79a204; 
	background: -webkit-linear-gradient(#afc57b, #ebf1cc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#afc57b, #ebf1cc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#afc57b, #ebf1cc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#afc57b, #ebf1cc); /* Standard syntax */
    padding: 1.5em;
}
.filters a{
	text-shadow: none;
}
.filter-block{
	padding: 15px;	
}

.filter-block label{
	color: #718a39;
	font-family: MyRiadPro;
	font-size: 1.2em;
}
.styled-select {  
   background: url(../img/caret.png) no-repeat right white;
   border-radius: 3px;
   padding: 7px;
   
   width: 100%;
   height: 35px;
   box-shadow: none;
   border: none;
   text-align: left;
}
.dropdown-menu{
	left: auto;
	top: auto;
	width: calc(100% - 30px);
}
.styled-select:focus, .styled-select:active{
	border: 1px solid #79a204;
	outline: none;
}
/**  posts  **/
.posts{
	padding: 2.5em 0;
	background-color: #fff;
}
.post-block{
	height: 140px;
	border: 2px solid #c7d896;	
	position: relative;
	box-shadow: 0px 5px 0px 0px rgba(4, 5, 5, 0.16);
	margin-left: 0;
	margin-right: 0;
	margin-top: 25px;
	
}
.post-block:not(:last-child){
	margin-bottom: 70px;
}
.post-block.top:before{
	position: absolute;
	left: 0;
	bottom: -46%;
	content: '';
	background: url(../img/top-label.png) no-repeat left transparent;
	
	width: 181px;
	height: 125px;
	z-index: 1;
}
.post-block.best:after{
	position: absolute;
	top: 0;
	right: 10%;
	content: '';
	background: url(../img/best-label.png) no-repeat top transparent;
	
	width: 125px;
	height: 181px;
	z-index: 1;
}
.post-img{
	
	height: 140px;
    padding: 2em 0;
    text-align: center;
    background-image: -moz-linear-gradient( 90deg, rgba(121,162,5,.2) 0%, rgba(188,209,130,.2) 66%, rgba(255,255,255,.2) 100%);
  	background-image: -webkit-linear-gradient( 90deg, rgba(121,162,5,.2) 0%, rgba(188,209,130,.2) 66%, rgba(255,255,255,.2) 100%);
  	background-image: -ms-linear-gradient( 90deg, rgba(121,162,5,.2) 0%, rgba(188,209,130,.2) 66%, rgba(255,255,255,.2) 100%);
}
.post-img img{
	height: 100%;
}
.post-content{
	height: 140px;
	padding: 1em 1.5em;
	background-image: -moz-linear-gradient( 90deg, rgba(121,162,5,.42) 0%, rgba(188,209,130,.42) 66%, rgba(255,255,255,.42) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgba(121,162,5,.42) 0%, rgba(188,209,130,.42) 66%, rgba(255,255,255,.42) 100%);
  background-image: -ms-linear-gradient( 90deg, rgba(121,162,5,.42) 0%, rgba(188,209,130,.42) 66%, rgba(255,255,255,.42) 100%);
}
.post-content > ul{
	display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: space-around;
          justify-content: space-around;
  -webkit-align-items: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          padding: 0;

}
.post-content > ul > li{
	display: inline-block;
	font-family: mBrody;
	font-size: 1.3em;
	text-transform: uppercase;
	color: #658703;
	text-align: center;
}
.post-content .attraction{
	font-family: mBrody;
	font-size: 1.8em;
	font-style: italic;
	text-transform: none;
	color: #d82616;
	font-weight: 500;
	text-align: center;
}
.post-order{	
	background-image: url(../img/striped.png);
	background-size: cover;	
	font-family: Impact;
	padding-right: 0;
	padding-left: 0;
	height: 140px;
	
}
.post-order > a{
	display: block;
	position: relative;
	height: 100%;
	width: 100%;
}
.post-order > a:hover{
	background-color: rgba(0,0,0,.2);
}
.post-order p{	
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
	font-size: 1.5em;	
	text-decoration: none;
	text-shadow: 0px 8px 1px rgba(0, 2, 1, 0.35);
}


/**  mini-blog  **/
.blog{
	padding: 2.5em 0;
}
.blog-container{
	border: 1px solid #79a204;
	background-color: #d6e7a4;
	max-width: 960px;
	margin: 0 auto;
}
.blog-block  p{
	font-family:  Trebuchet;
	font-size: 13px;
	color: rgb(143, 143, 143);
	text-align: left;
	line-height: 1.538;
	padding-bottom:  15px;
}
.blog-block  p.title{
	
	font-size: 20px;
	font-weight: bold;
	text-shadow: 1px 1.732px 3px rgba(0, 0, 0, 0.5);
	line-height: 1;
	color: #658705;
}
.blog-content{
	padding: 40px;
}
/** modal **/
.modal-win-advertisment{
	margin: 5% auto;
	max-width: 800px;
	width: 90%;
	padding-top: 50px;
	padding-bottom: 60px;
}
.modal-win-advertisment .modal-header{
	border: none;
	text-align: center;
	font-size: 1em;
	line-height: 1.2;
	color: rgb(64, 80, 0);
	text-shadow: 1px 1.732px 3px rgba(0, 0, 0, 0.5);
	padding: 10px;
}

.modal-win-advertisment .modal-content{
	position: relative;
	max-width: 920px;
	width: 100%;
	background-color: rgb(230, 250, 173);
  	box-shadow: 0px 8px 1px 0px rgba(0, 2, 1, 0.35);
  	width: 100%;
    min-height: 275px;
    height: auto;
    border: 2px solid #b8c88b;
    margin: auto;
    padding-bottom: 40px;
   	
}
.modal-win-advertisment .post-block{
	height: 120px;
	background-image: -moz-linear-gradient( 90deg, #c3d296 0%, #dae3be 66%, #fff 100%);
  	background-image: -webkit-linear-gradient( 90deg, #c3d296 0%, #dae3be 66%, #fff 100%);
  	background-image: -ms-linear-gradient( 90deg, #c3d296 0%, #dae3be 66%, #fff 100%);
  	box-shadow: 0px 3px 0px 0px rgba(4, 5, 5, 0.16);
  	margin-top: 2em;
}
.modal-win-advertisment .post-content{
	padding: 0 1em;
	background: none;
	height: 80px;
	padding: 15px 0;
}
.modal-win-advertisment .post-img{
	position: relative;
    overflow: hidden;
    height: 120px;
    background-image: none;
}

.modal-win-advertisment .post-img img {
	width: 80%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.modal-win-advertisment .post-content > ul{
	display: block;
}
.modal-win-advertisment .post-content > ul > li{
	display: block;
	text-transform: none;
	color: rgba(0,0,0,.9);
	text-align: left;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.8em;
}
.modal-win-advertisment .post-content > ul > li > p{
	margin: 0;
}
.modal-win-advertisment .post-order{
	height: 120px;
}
.modal-win-advertisment .post-order p{
	font-size: 1.5em;
}
.modal-win-advertisment .post-block.best:after {
	right: 21%;
}
.modal-win-advertisment button.close{
	margin: -30px 20px;
}
.lamp{
	position: absolute;
	left: 0px;
    top: -90px;
	width: 100px;
	height: 150px;
	background: url(../img/modal-lamp.png) no-repeat left transparent;
}

/**  float  **/
.float, .float:focus{
	display: block;
	position: fixed;
	right: 1em;
	top: 25%;
	border: 2px solid #79a204;
	border-radius: 4px;
	z-index: 100;
	font-size: 3em;
	padding: 3px 5px;
	color: #79a204;
}
.float:hover{
	background-color: #79a204;
	color: #fff;
}
@media (max-width: 1430px){
	.top-slider-img img{
		height: 100%;
		width: auto;
		min-width: 100%;
	}
}
@media (max-width: 991px){
	.center-sm{
		text-align: center;
	}
	.desc-content {
		padding: 20px;
	}
	.desc-img{
		margin-bottom: 20px;
	}
	.post-block{
		height: auto;
	}
	.slider .item{
		margin: 500px auto 0;
	}
	.modal-win-advertisment .post-block{
		height: auto;
	}
}


