.category {
	padding: 20px 0 50px 0;
}

.top-category {
    padding: 20px 0;
}

.list-category {
    text-align: right;
    padding-top: 56px;
    padding-bottom: 15px;
}

.list-category ul{
    padding: 0;
    list-style: none;
}

.list-category ul li{
    display: inline-block;
}

.list-category ul li a{
    text-shadow: 1px 1.732px 3px rgba(0, 0, 0, 0.5);
    color: #79a204;
    font: 1.1em;
}

.list-category ul li.active a{
    text-decoration: underline;
}

.list-category ul li:not(:last-child):after{
    content: '|';
}

.category-post{
    box-shadow: 0px 0px 2px 2px #79a204;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0px 0px 2px 2px #79a204;
    padding: 40px;
}

.category-post-block:not(:last-child) {
    margin-bottom: 30px;
}

.category-post-block .img {
	position: relative;
    overflow: hidden;
    width: 20%;
    height: 200px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0px 0px 2px 2px #79a204;
}

.category-post-block .img img {
	width: 100%;
    height: auto;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.category-post-block .title {
    color: #79a204;
    font-family: MyRiadPro;
    font-size: 1.8em;
}

.category-post-block .title a {
    color: #79a204;
    font-family: MyRiadPro;
    font-size: 1.8em;
}

.category-post-block .desc {
	text-align: justify;
}