
.div-breadcrumbs{
    margin-top: 56px;
}
.div-breadcrumbs,.div-breadcrumbs a{
	font-family: MyriadPro;
	font-size: 22px;
	background: linear-gradient(#a9bd6e, #3f5800);
	-webkit-background-clip: text;
	color: transparent;
	text-shadow: 1px 1px 8px #ada;
}
.single-category {
    margin-top: 56px;
    text-align: right;
}
.single-category a, .single-category{
	font-family: MyriadPro;
	font-size: 22px;
	background: linear-gradient(#a9bd6e, #3f5800);
	-webkit-background-clip: text;
	color: transparent;
	text-shadow: 1px 1px 8px #ada;
}
.info-container{
    border: 4px solid #c7d896;
    padding: 54px 25px 30px 37px;
    background: linear-gradient(to top,  #e4eccd, #fefcea);
}
.img-single-container{
	min-width: 166px;
	min-height: 166px;
	padding: 10px;
	float: left;
	margin-right: 20px;
    border: 1px solid #73a73f;
}
.single-thumbnail{
    border: 1px solid #73a73f;
    padding: 8px;
	width:150px;
	height: 150px;
}
.info-container h1{
	font-family: MyriadPro;
    font-size: 24pt;
    color: #79a204;
    margin-top: 0;
}
.info-container p{
	font-family: MyriadPro;
    font-size: 10pt;
}
.info-container img{
	width: 100%;
	height: auto;
}
.post-on-single{
	padding: 47px 0 120px;
}
